.body{
  background-image: url("./image/servers2electricboogaloo.jpg");
  background-repeat: no-repeat;
  background-size:cover;

}
.server1 {
  width: 250px;
  height: 400px;
  /* background-color:rgb(246, 6, 6); */
  margin-left: 50px;
  /* margin-top: 100px; */
}
.logoLeumi {
  opacity: 70%;
  margin-top: 50px;
  margin-left: 50px;
  width: 300px;
  height: 168px;
  background-image : url("./image/leumi_code_271x171.png");
}
.logoDevalore{
  opacity: 70%;
  margin-top: -170px;
  margin-left: 1000px;
  width: 500px;
  height: 208px;
  background-image: url("./image/Devalore-Ltd.png");
  background-size: 250px 150px;
  background-repeat: no-repeat;

}
