.body {
  padding-top: 357px;
  background-image: url("./image/servers2electricboogaloo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.server1 {
  width: 250px;
  height: 400px;
  margin-left: 50px;
}
.logoLeumi {
  margin-top: -180px;
  margin-left: 900px;
  width: 550px;
  height: 208px;
  background-repeat: no-repeat;
  background-image: url("./image/leumilogo.png");
}
.logoDevalore {
  margin-top: -230px;
  margin-left: 50px;
  width: 516px;
  height: 168px;
  background-image: url("./image/devalore.png");
  background-size: 510px 150px;
  background-repeat: no-repeat;
}
